<nav class="w-full h-32 border-b border-cyan-500/10 bg-slate-950/90 backdrop-blur-xl px-16 sticky top-0 z-50 shadow-2xl shadow-cyan-500/10 flex items-center">
    <div class="w-full flex items-center justify-between">
        <a
            routerLink="/"
            class="relative group"
        >

            <h1
                class="text-4xl font-black tracking-wide text-cyan-400 logo-glow"
            >
                Nomina<span class="text-white">Pro</span>
            </h1>

            <div
                class="absolute -bottom-2 left-0 w-0 h-[3px] bg-cyan-400 transition-all duration-500 group-hover:w-full rounded-full"
            ></div>

        </a>

        <div
            class="flex items-center gap-14 text-2xl font-bold text-slate-300"
        >

            <a
                routerLink="/"
                class="nav-link"
            >
                Home
            </a>

            <a
                routerLink="/company"
                class="nav-link"
            >
                Company
            </a>

            <a
                routerLink="/employee"
                class="nav-link"
            >
                Employee
            </a>

        </div>

    </div>

</nav>